.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
.slide-up {
  animation: slideUp 0.5s ease-in-out;
}
.hover-grow:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
.icon-outline {
  -webkit-text-stroke: 1px white;
  color: transparent;
}
.gradient-text {
  background: linear-gradient(to right, #3b82f6, #9333ea);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.selected {
  border: 2px solid #3b82f6;
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.5);
}
.suggestion-slide {
  transition: transform 0.3s ease-in-out;
}
#overlay {
  z-index: 1500;
}
#taskPopup {
  z-index: 2000;
}
.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#sidebar {
  transition: all 0.3s ease-in-out; /* Smooth transition for visibility */
}

#menuToggle {
  display: none; /* Hidden by default, controlled by JS */
  font-size: 12px; /* Smaller arrow size */
  left: -10px;
}

@media (max-width: 767px) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    z-index: 20;
  }

  #menuToggle {
    display: flex; /* Show on small screens */
    align-items: center;
    justify-content: center;
  }

  .w-full.md\:w-4\/5 {
    margin-left: 0;
    width: 100%;
  }
}

@media (min-width: 768px) {
  #sidebar {
    position: sticky;
    width: 20%;
  }

  #menuToggle {
    display: none;
  }
}


.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-card {
  display: flex;
  flex-direction: column;
  min-width: 0; 
}


.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; 
}

.suggestion-slide {
  transition: transform 0.3s ease-in-out;
}